.fpcontainer {
    background-color: #FFFFFF;
    border-color: #d2d2d2;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}

.chainbutton {
    width: 180px;
    height: 100px;
    margin: 10px;
    background-color: #f5f5f5 !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border: 1px solid #e4e4e4 !important;
    color: inherit;
}

.container {
    max-width: 970px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


  
.image {
    opacity: 1;
   
    transition: .5s ease;
    
  }
  

  .image:hover {
    opacity: 0.3;
    color: black;
    background-color: black;
  }
  
 
  
  